:root {
  --color-shortcode-song-background: #eeeeee;
}

.dark {
  --color-shortcode-song-background: #383838;
}

.aplayer {
  margin: 1em auto !important;
  border-radius: 0.25rem !important;
  background: var(--color-shortcode-song-background) !important;
  box-shadow: none !important;
}

.aplayer .aplayer-lrc:before {
  display: none !important;
}

.aplayer .aplayer-lrc:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--color-shortcode-song-background) 100%) !important;
}
