# R Blogdown
blogdown
public

# R Common
.Rhistory
.Rproj.user
.RData
.Ruserdata

# VS Code
.vscode

# Python
*.pyd
*.pyc
*.pyo

# JetBrains
.idea

# Data
*.zip
*.tgz
*.gz
*.tar
data/*.jpg
data/*.png

# Outputs
outputs

# System
.DS_Store
Thumbs.db
