# R Blogdown
blogdown
public

# R Common
.Rhistory
.Rproj.user
.RData
.Ruserdata

# VS Code
.vscode

# Python
*.pyd

# JetBrains
.idea

# Data
*.zip
*.tgz
*.gz
*.tar

# Models
models

# System
.DS_Store
Thumbs.db
