# Hugo
public
.hugo_build.lock

# VS Code
.vscode

# Python
*.pyd
*.pyc
*.pyo
.ipynb_checkpoints

# Node
node_modules
package-lock.json

# Data
*.zip
*.tgz
*.gz
*.tar
*.pkl
data/*.jpg
data/*.png
static/codes/**/*.txt
static/codes/**/*.json

# System
.DS_Store
Thumbs.db

# Others
.ruff_cache
