<footer class="footer">
  {{- if and (not .Params.disable_donate) (or (eq .Kind "404") (and (not .IsHome) .Content)) }}
    {{- partial "donate.html" . }}
  {{- end }}

  {{- if .Section }}
  <div class="nav-post">
    <span class="nav-post-prev">
      {{- with .PrevInSection }}
        &larr; <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- end }}
    </span>
    <span class="nav-post-next">
      {{- with .NextInSection }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a> &rarr;
      {{- end }}
    </span>
  </div>
  {{- end }}

  {{- if and (not .Params.disable_google_adsense) (and (not .IsHome) .Content) }}
    {{- with $.Site.Params.googleAdsense }}
      <ins
        class="adsbygoogle adsbygoogle-post-footer"
        style="display: block; text-align: center"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="{{ . }}"
        data-ad-slot="1261604535"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    {{- end }}
  {{- end }}

  {{- if and (not .Params.disable_comments) (or (eq .Kind "404") (and (not .IsHome) .Content)) }}
    <section class="comments">
      <script {{ if $.Site.BuildDrafts }}data-{{ end }}src="https://giscus.app/client.js"
        data-repo="leovan/leovan.me"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxMTMxOTY0Mjc="
        data-category="Comments"
        data-category-id="DIC_kwDOBr89i84CT-R7"
        data-mapping="{{ if eq $.Kind "404" }}number{{ else }}pathname{{ end }}"
        {{ if eq $.Kind "404" }}data-term="22"{{ end }}
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="{{ if len (findRE "^/cn/" .RelPermalink) }}zh-CN{{ else }}en{{ end }}"
        data-loading="lazy"
        crossorigin="anonymous"
        defer>
      </script>
    </section>
  {{- end }}

  <hr>
  <div class="copyright">
    <span>{{ replace site.Params.footer "{Year}" now.Year | markdownify }}</span>
  </div>
</footer>
