{{- if $.Page.Store.Get "shortcode-douban-card" }}
  <script type="text/javascript">
    function doubanBookCard(bookID) {
      let url = "/data/douban/book/" + bookID + ".json";

      fetch(url, { method: "get" })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          let tags = [];

          let author = data.author[0];
          tags.push(author);

          let press = data.press[0];
          tags.push(press);

          let pubdate = data.pubdate[0].substring(0, 4);
          tags.push(pubdate);

          let title = data.title;
          let rating = data.rating.value;
          let stars = Math.round(rating);
          let image = data.pic.normal;
          let intro = data.intro.replace(/[\n|\r]/g, "");

          document.querySelector("#shortcode-douban-card-book-" + bookID).innerHTML =
            '<div class="shortcode-douban-card--middle">' +
            '<div class="shortcode-douban-card--title">' +
            '<a href="https://book.douban.com/subject/' +
            bookID +
            '/" target="_blank">' +
            title +
            "</a>" +
            "</div>" +
            '<div class="shortcode-douban-card--stars-rating">' +
            '<span class="shortcode-douban-card--logo-dou">豆</span>' +
            '<span class="shortcode-douban-card--logo-rating">豆瓣评分</span>' +
            '<span class="shortcode-douban-card--stars douban-card--stars-' +
            stars +
            '"></span>' +
            '<span class="shortcode-douban-card--rating">' +
            rating +
            "</span>" +
            "</div>" +
            '<div class="shortcode-douban-card--tags">' +
            tags.join(" / ") +
            "</div>" +
            '<div class="shortcode-douban-card--summary">' +
            intro +
            "</div>" +
            "</div>" +
            '<div class="shortcode-douban-card--right">' +
            '<img src="' +
            image +
            '" referrerPolicy="no-referrer" />' +
            "</div>";
        })
        .catch((error) => {
          console.log(error);
        });
    }

    function doubanMovieCard(movidID) {
      let url = "/data/douban/movie/" + movidID + ".json";

      fetch(url, { method: "get" })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          let tags = [];

          let country = data.countries[0];
          tags.push(country);

          let pubdate = data.pubdate[0].substring(0, 4);
          tags.push(pubdate);

          let director = "导演: " + data.directors[0].name;
          tags.push(director);

          let actors =
            "主演: " +
            data.actors
              .map(function (actor) {
                return actor.name;
              })
              .join(" ");
          tags.push(actors);

          let title = data.title;
          let rating = data.rating.value;
          let stars = Math.round(rating);
          let rating_str = rating > 0 ? rating : "暂无评分";
          let image = data.pic.normal;
          let intro = data.intro.replace(/[\n|\r]/g, "");

          document.querySelector("#shortcode-douban-card-movie-" + movidID).innerHTML =
            '<div class="shortcode-douban-card--middle">' +
            '<div class="shortcode-douban-card--title">' +
            '<a href="https://movie.douban.com/subject/' +
            movidID +
            '/" target="_blank">' +
            title +
            "</a>" +
            "</div>" +
            '<div class="shortcode-douban-card--stars-rating">' +
            '<span class="shortcode-douban-card--logo-dou">豆</span>' +
            '<span class="shortcode-douban-card--logo-rating">豆瓣评分</span>' +
            '<span class="shortcode-douban-card--stars douban-card--stars-' +
            stars +
            '"></span>' +
            '<span class="shortcode-douban-card--rating">' +
            rating_str +
            "</span>" +
            "</div>" +
            '<div class="shortcode-douban-card--tags">' +
            tags.join(" / ") +
            "</div>" +
            '<div class="shortcode-douban-card--summary">' +
            intro +
            "</div>" +
            "</div>" +
            '<div class="shortcode-douban-card--right">' +
            '<img src="' +
            image +
            '" referrerPolicy="no-referrer" />' +
            "</div>";
        });
    }

    (function (d) {
      d.querySelectorAll(".shortcode-douban-card").forEach((el) => {
        let doubanID = el.dataset.doubanId;
        if (el.classList.contains("shortcode-douban-card-book")) {
          doubanBookCard(doubanID);
        } else if (el.classList.contains("shortcode-douban-card-movie")) {
          doubanMovieCard(doubanID);
        }
      });
    })(document);
  </script>
{{- end }}
