:root {
  --admonition-icon--note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2m3.1 5.07c.14 0 .28.05.4.16l1.27 1.27c.23.22.23.57 0 .78l-1 1-2.05-2.05 1-1c.1-.11.24-.16.38-.16m-1.97 1.74 2.06 2.06-6.06 6.06H7.07v-2.06l6.06-6.06Z"/></svg>');
  --admonition-icon--abstract: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 9H7V7h10m0 6H7v-2h10m-3 6H7v-2h7M12 3a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1m7 0h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Z"/></svg>');
  --admonition-icon--info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"/></svg>');
  --admonition-icon--tip: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.66 11.2c-.23-.3-.51-.56-.77-.82-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32-2.59 2.08-3.61 5.75-2.39 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.23.1-.47.04-.66-.12a.58.58 0 0 1-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5.14.6.41 1.2.71 1.73 1.08 1.73 2.95 2.97 4.96 3.22 2.14.27 4.43-.12 6.07-1.6 1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6-1.12.4-2.24-.16-2.9-.82 1.19-.28 1.9-1.16 2.11-2.05.17-.8-.15-1.46-.28-2.23-.12-.74-.1-1.37.17-2.06.19.38.39.76.63 1.06.77 1 1.98 1.44 2.24 2.8.04.14.06.28.06.43.03.82-.33 1.72-.93 2.27Z"/></svg>');
  --admonition-icon--success: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 7 9 19l-5.5-5.5 1.41-1.41L9 16.17 19.59 5.59 21 7Z"/></svg>');
  --admonition-icon--question: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m15.07 11.25-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2 2 2 0 0 0-2 2H8a4 4 0 0 1 4-4 4 4 0 0 1 4 4 3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10c0-5.53-4.5-10-10-10Z"/></svg>');
  --admonition-icon--warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14h-2V9h2m0 9h-2v-2h2M1 21h22L12 2 1 21Z"/></svg>');
  --admonition-icon--failure: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41Z"/></svg>');
  --admonition-icon--danger: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m11.5 20 4.86-9.73H13V4l-5 9.73h3.5V20M12 2c2.75 0 5.1 1 7.05 2.95C21 6.9 22 9.25 22 12s-1 5.1-2.95 7.05C17.1 21 14.75 22 12 22s-5.1-1-7.05-2.95C3 17.1 2 14.75 2 12s1-5.1 2.95-7.05C6.9 3 9.25 2 12 2Z"/></svg>');
  --admonition-icon--bug: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 13h2v1h-2v-1m10-8v6c0 5.5-3.8 10.7-9 12-5.2-1.3-9-6.5-9-12V5l9-4 9 4m-4 5h-2.2c-.2-.6-.6-1.1-1.1-1.5l1.2-1.2-.7-.7L12.8 8H12c-.2 0-.5 0-.7.1L9.9 6.6l-.8.8 1.2 1.2c-.5.3-.9.8-1.1 1.4H7v1h2v1H7v1h2v1H7v1h2.2c.4 1.2 1.5 2 2.8 2s2.4-.8 2.8-2H17v-1h-2v-1h2v-1h-2v-1h2v-1m-6 2h2v-1h-2v1Z"/></svg>');
  --admonition-icon--example: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 2v2h1v14a4 4 0 0 0 4 4 4 4 0 0 0 4-4V4h1V2H7m4 14c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1m2-4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1m1-5h-4V4h4v3Z"/></svg>');
  --admonition-icon--quote: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 17h3l2-4V7h-6v6h3M6 17h3l2-4V7H5v6h3l-2 4Z"/></svg>');
  --admonition-details-summary-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42Z"/></svg>');
}

.admonition {
  border: 0.1rem solid #448aff;
  border-width: 0;
  border-left-width: 4px;
  border-radius: 0.3rem;
  display: flow-root;
  margin: 16px 0;
  padding: 0 16px;
  page-break-inside: avoid;
  line-height: 1.6rem;
  background-color: var(--code-bg);
}

.admonition .admonition-title, .admonition summary {
  position: relative;
  margin: 0 -16px;
  padding-left: 2.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-top-right-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #448aff1a;
}

.admonition-no-icon .admonition-title, .admonition-no-icon summary {
  padding-left: 16px;
}

.admonition .admonition-title {
  padding-right: 16px;
}

.admonition summary {
  padding-right: 2.8rem;
  cursor: pointer;
  list-style: none;
}

.admonition summary:marker, .admonition summary:-webkit-details-marker {
  display: none
}

.admonition .admonition-title::before, .admonition summary::before {
  content: "";
  background-color: #448aff;
  -webkit-mask-image: var(--admonition-icon--note);
  mask-image: var(--admonition-icon--note);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  position: absolute;
  top: 0.5rem;
  left: 16px;
  width: 1.4rem;
  height: 1.4rem;
}

.admonition-no-icon .admonition-title::before, .admonition-no-icon summary::before {
  display: none;
}

.admonition summary::after {
  content: "";
  background-color: #448aff;
  -webkit-mask-image: var(--admonition-details-summary-icon);
  mask-image: var(--admonition-details-summary-icon);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  position: absolute;
  top: 0.5rem;
  right: 16px;
  width: 1.4rem;
  height: 1.4rem;
  transform: rotate(0deg);
  transition: transform .25s;
}

details[open].admonition summary::after {
  transform: rotate(90deg)
}

.admonition-content, .admonition-content p {
  margin: 0.6em auto;
}

details.admonition .admonition-content {
  opacity: 0;
}

details[open].admonition .admonition-content {
  transition: opacity 600ms;
  opacity: 1;
}

.admonition-note {
  border-color: #448aff;
}

.admonition-note .admonition-title::before, .admonition-note summary::before, .admonition-note summary::after {
  background-color: #448aff;
}

.admonition-note .admonition-title::before, .admonition-note summary::before {
  -webkit-mask-image: var(--admonition-icon--note);
  mask-image: var(--admonition-icon--note);
}

.admonition-note .admonition-title, .admonition-note summary {
  background-color: #448aff1a;
}

.admonition-abstract {
  border-color: #00b0ff;
}

.admonition-abstract .admonition-title::before, .admonition-abstract summary::before, .admonition-abstract summary::after {
  background-color: #00b0ff;
}

.admonition-abstract .admonition-title::before, .admonition-abstract summary::before {
  -webkit-mask-image: var(--admonition-icon--abstract);
  mask-image: var(--admonition-icon--abstract);
}

.admonition-abstract .admonition-title, .admonition-abstract summary {
  background-color: #00b0ff1a;
}

.admonition-info {
  border-color: #00b8d4;
}

.admonition-info .admonition-title::before, .admonition-info summary::before, .admonition-info summary::after {
  background-color: #00b8d4;
}

.admonition-info .admonition-title::before, .admonition-info summary::before {
  -webkit-mask-image: var(--admonition-icon--info);
  mask-image: var(--admonition-icon--info);
}

.admonition-info .admonition-title, .admonition-info summary {
  background-color: #00b8d41a;
}

.admonition-tip {
  border-color: #00bfa5;
}

.admonition-tip .admonition-title::before, .admonition-tip summary::before, .admonition-tip summary::after {
  background-color: #00bfa5;
}

.admonition-tip .admonition-title::before, .admonition-tip summary::before {
  -webkit-mask-image: var(--admonition-icon--tip);
  mask-image: var(--admonition-icon--tip);
}

.admonition-tip .admonition-title, .admonition-tip summary {
  background-color: #00bfa51a;
}

.admonition-success {
  border-color: #00c853;
}

.admonition-success .admonition-title::before, .admonition-success summary::before, .admonition-success summary::after {
  background-color: #00c853;
}

.admonition-success .admonition-title::before, .admonition-success summary::before {
  -webkit-mask-image: var(--admonition-icon--success);
  mask-image: var(--admonition-icon--success);
}

.admonition-success .admonition-title, .admonition-success summary {
  background-color: #00c8531a;
}

.admonition-question {
  border-color: #64dd17;
}

.admonition-question .admonition-title::before, .admonition-question summary::before, .admonition-question summary::after {
  background-color: #64dd17;
}

.admonition-question .admonition-title::before, .admonition-question summary::before {
  -webkit-mask-image: var(--admonition-icon--question);
  mask-image: var(--admonition-icon--question);
}

.admonition-question .admonition-title, .admonition-question summary {
  background-color: #64dd171a;
}

.admonition-warning {
  border-color: #ff9100;
}

.admonition-warning .admonition-title::before, .admonition-warning summary::before, .admonition-warning summary::after {
  background-color: #ff9100;
}

.admonition-warning .admonition-title::before, .admonition-warning summary::before {
  -webkit-mask-image: var(--admonition-icon--warning);
  mask-image: var(--admonition-icon--warning);
}

.admonition-warning .admonition-title, .admonition-warning summary {
  background-color: #ff91001a;
}

.admonition-failure {
  border-color: #ff5252;
}

.admonition-failure .admonition-title::before, .admonition-failure summary::before, .admonition-failure summary::after {
  background-color: #ff5252;
}

.admonition-failure .admonition-title::before, .admonition-failure summary::before {
  -webkit-mask-image: var(--admonition-icon--failure);
  mask-image: var(--admonition-icon--failure);
}

.admonition-failure .admonition-title, .admonition-failure summary {
  background-color: #ff52521a;
}

.admonition-danger {
  border-color: #ff1744;
}

.admonition-danger .admonition-title::before, .admonition-danger summary::before, .admonition-danger summary::after {
  background-color: #ff1744;
}

.admonition-danger .admonition-title::before, .admonition-danger summary::before {
  -webkit-mask-image: var(--admonition-icon--danger);
  mask-image: var(--admonition-icon--danger);
}

.admonition-danger .admonition-title, .admonition-danger summary {
  background-color: #ff17441a;
}

.admonition-bug {
  border-color: #f50057;
}

.admonition-bug .admonition-title::before, .admonition-bug summary::before, .admonition-bug summary::after {
  background-color: #f50057;
}

.admonition-bug .admonition-title::before, .admonition-bug summary::before {
  -webkit-mask-image: var(--admonition-icon--bug);
  mask-image: var(--admonition-icon--bug);
}

.admonition-bug .admonition-title, .admonition-bug summary {
  background-color: #f500571a;
}

.admonition-example {
  border-color: #7c4dff;
}

.admonition-example .admonition-title::before, .admonition-example summary::before, .admonition-example summary::after {
  background-color: #7c4dff;
}

.admonition-example .admonition-title::before, .admonition-example summary::before {
  -webkit-mask-image: var(--admonition-icon--example);
  mask-image: var(--admonition-icon--example);
}

.admonition-example .admonition-title, .admonition-example summary {
  background-color: #7c4dff1a;
}

.admonition-quote {
  border-color: #9e9e9e;
}

.admonition-quote .admonition-title::before, .admonition-quote summary::before, .admonition-quote summary::after {
  background-color: #9e9e9e;
}

.admonition-quote .admonition-title::before, .admonition-quote summary::before {
  -webkit-mask-image: var(--admonition-icon--quote);
  mask-image: var(--admonition-icon--quote);
}

.admonition-quote .admonition-title, .admonition-quote summary {
  background-color: #9e9e9e1a;
}