@media screen and (min-width: 960px) {
  html {
    background: #fafafa;
  }
  
  body {
    background: #fff;
  }

  .masthead {
    position: fixed;
    top: 2em;
  }
}

.menu li:not([class]) a, a:hover, .copyright a {
  border-bottom: none;
}

.main {
  hyphens: auto;
}

.main, .masthead {
  padding: 1em 40px;
}

.masthead h1 {
  margin-bottom: 0;
}

.masthead img {
  max-width: 100px;
}
  
.masthead .menu .menu-separator {
  list-style-type: none;
}

.en .main header ~ p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: .05em;
  font-size: 1.1em;
}

.en .main header ~ p:first-of-type::first-letter {
  font-size: 3em;
  padding: .1em .1em 0 0;
  float: left;
  line-height: 1em;
}

.subtitle {
  font-size: 24px;
}

iframe, twitterwidget, video {
  max-width: 100%;
  display: block;
  margin: auto;
}

#TableOfContents {
  background-color: #f8f8f8;
  padding: .5em;
}

table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
}

pre code {
  font-size: .9em;
  display: block;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  background: #f9f9f9 !important;
}

code[class*="language-"] {
  padding: 1em;
  line-height: 1.75;
}

pre[class*="language-"] {
  padding: 0;
  position: relative;
  overflow: inherit;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: .9em;
}

pre[class*="language-"] > code[data-language]:before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
}

.home hr {
  margin: 2em auto 1em;
}

@media screen and (max-width: 960px) {
  html {
    background: #fafafa;
  }
  
  body {
    background: #fff;
    padding: 10px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 2em auto 1.5em auto;
  }
  
  .title h2, .title h3 {
    margin: 1.5em auto;
  }
  
  .main .title h1 {
    margin: 1em auto 0 auto;
  }
  
  .title hr {
    margin: 2em auto;
  }
  
  .masthead .menu {
    max-width: inherit;
  }
  
  .masthead h1 {
    margin-bottom: 0;
  }

  .masthead .tagline {
    display: none;
  }
  
  .masthead .menu ul {
    text-align: center;
  }
  
  .masthead .menu a {
    display: inline-block;
    padding: 5px 10px;
    background: #444;
    color: #fff;
    border-radius: 5px;
  }
  
  .masthead .menu .active a {
    background: none;
    border: 1px solid #444;
    color: #000;
  }
  
  .masthead .menu li, .masthead .menu li:first-child {
    border: none;
    display: inline-block;
    margin-top: 5px;
  }
  
  .masthead .menu .menu-separator {
    display: none;
  }
}

@media print {
  del, footer, .masthead {
    display: none;
  }

  body {
    max-width: 700px;
  }

  .main {
    margin-left: 0;
    border-left: none;
    padding-left: 10px;
  }
}

.tagline {
  font-weight: bold;
}

.post-meta {
  font-size: 0.9em;
  line-height: 1.8em;
  margin-top: 0;
  margin-bottom: 1em;
}

.post-meta a {
  text-decoration: none;
  border-bottom: 0;
}

h4, h5, h6 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.pseudocode {
  display: none;
}

.footnote-ref a:before {
  content: "[";
}

.footnote-ref a:after {
  content: "]";
}

.MathJax_ref:before {
  content: "(";
}

.MathJax_ref:after {
  content: ")";
}

.mjx-math a {
  border-bottom: none;
}

.material-icons {
  font-size: 100%;
  vertical-align: text-bottom;
}

img[alt="github-stars"] {
  vertical-align: text-bottom;
}

.blockquote {
  display: block;
  padding: 1em;
  background: #eee;
}

footer .adsbygoogle {
  margin-top: 20px;
}

.toc-depth-1 nav ul li ul {
  display: none;
}

.toc-depth-2 nav ul li ul li ul {
  display: none;
}

.toc-depth-3 nav ul li ul li ul li ul {
  display: none;
}

.movie-table thead tr th, .book-table thead tr th,
.movie-table tbody tr td:nth-child(n+6), .book-table tbody tr td:nth-child(n+5){
  text-align: center;
}

.movie-table thead tr th:nth-child(-n+2), .movie-table tbody tr td:nth-child(-n+2),
.book-table thead tr th:nth-child(-n+2), .book-table tbody tr td:nth-child(-n+2) {
  display: none;
}

.movie-table tbody tr td:nth-child(3) { width: 9em; }
.movie-table tbody tr td:nth-child(4) { width: 5em; }
.movie-table tbody tr td:nth-child(6) { width: 3em; }
.movie-table tbody tr td:nth-child(7) { width: 3em; }
.movie-table tbody tr td:nth-child(8) { width: 3em; }

.book-table tbody tr td:nth-child(4) { width: 10em; }
.book-table tbody tr td:nth-child(5) { width: 5.8em; }
.book-table tbody tr td:nth-child(6) { width: 5.8em; }
.book-table tbody tr td:nth-child(7) { width: 3em; }
.book-table tbody tr td:nth-child(8) { width: 3em; }

.aplayer {
  margin: 1em auto !important;
}
