.menu li:not([class]) a, a:hover, .copyright a {
  border-bottom: none;
}

.main {
  hyphens: auto;
}

.main, .masthead {
  padding: 1em 40px;
}

.en .main header ~ p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: .05em;
  font-size: 1.1em;
}

.en .main header ~ p:first-of-type::first-letter {
  font-size: 3em;
  padding: .1em .1em 0 0;
  float: left;
  line-height: 1em;
}

iframe, twitterwidget, video {
  max-width: 100%;
  display: block;
  margin: auto;
}

#TableOfContents {
  background-color: #f8f8f8;
  padding: .5em;
}

table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
}

/* Code */

pre code {
  font-size: .9em;
  display: block;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  background: #f9f9f9 !important;
}

/* Codes highlightjs
/* 
pre .nohighlight {
  background-color: transparent;
}

.hljs-comment {
  font-style: inherit;
}

.hljs {
  padding: 1em;
}
*/

/* Codes prismjs*/

pre[class*="language-"] {
  padding: 0;
  position: relative;
  overflow: inherit;
}

pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
}

code[class*="language-"] {
  padding: 1em;
  line-height: 1.75;
}

.home hr {
  margin: 2em auto 1em;
}

.masthead img {
  max-width: 99px;
}

@media screen and (max-width: 960px) {
  html {
    background: #fafafa;
  }
  
  body {
    background: #fff;
    padding: 10px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 2em auto 1.5em auto;
  }
  
  .title h2, .title h3 {
    margin: 1.5em auto;
  }
  
  .main .title h1 {
    margin: 1em auto 0 auto;
  }
  
  .title hr {
    margin: 2em auto;
  }
  
  .masthead .menu {
    max-width: inherit;
  }
  
  .masthead h1 {
    margin-bottom: 10px;
  }
  
  .masthead .menu ul {
    text-align: center;
  }
  
  .masthead .menu a {
    display: inline-block;
    padding: 5px 10px;
    background: #444;
    color: #fff;
    border-radius: 5px;
  }
  
  .masthead .menu .active a {
    background: none;
    border: 1px solid #444;
    color: #000;
  }
  
  .masthead .menu a[href="#menu-separator"] {
    background: none;
    padding: 5px 3px;
    pointer-events: none;
  }
  
  .masthead .menu li, .masthead .menu li:first-child {
    border: none;
    display: inline-block;
    margin-top: 5px;
  }
  
  .masthead .menu .menu-extra {
    display: none;
  }
}

@media print {
  del, footer, .masthead {
    display: none;
  }
  body {
    max-width: 700px;
  }
  .main {
    margin-left: 0;
    border-left: none;
    padding-left: 10px;
  }
}

.tagline {
  font-weight: bold;
}

.meta-info {
  font-size: 0.9em;
  line-height: 1.8em;
  margin-top: 0;
  margin-bottom: 1em;
}
.meta-info a {
  text-decoration: none;
  border-bottom: 0;
}

h4, h5, h6 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.pseudocode {
  display: none;
}

a[href^="#fn:"]:before {
  content: "["
}

a[href^="#fn:"]:after {
  content: "]"
}

.material-icons {
  font-size: 100%;
  vertical-align: text-bottom;
}

img[alt="github-stars"] {
  vertical-align: text-bottom;
}

.blockquote {
  display: block;
  margin: 1.3em 0;
  padding: 0.1em 1em;
  background: #eee;
}
