body,
.font-song {
  font-family: Palatino, "Palatino Linotype", "Palatino LT Std", Georgia,
    "Latin Modern Roman", "Linux Libertine", "Liberation Serif",
    "Source Han Serif SC", "Source Han Serif TC", "Source Han Serif",
    "Noto Serif CJK SC", "Noto Serif CJK TC", "Noto Serif CJK", "Songti SC",
    STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung",
    "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK",
    "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.font-hei {
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica,
    "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
    "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
    "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
    SimHei, "WenQuanYi Zen Hei Sharp", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

button:not([class]), code, .highlight-title {
  font-family: Iosevka, "Iosevka Nerd", "Sarasa Mono", "Sarasa Mono SC",
    "Sarasa Mono TC", Consolas, "Lucida Console", Menlo, Monaco, "Andale Mono",
    "Ubuntu Mono", "Source Han Mono SC", "Source Han Mono TC", "Source Han Mono",
    "Noto Sans Mono SC", "Noto Sans Mono TC", "Noto Sans Mono", monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

blockquote,
.font-kai,
.slogan,
code span[class="comment"],
code span[class="c"],
mjx-utext {
  font-family: Palatino, "Palatino Linotype", "Palatino LT Std", Georgia,
    "Latin Modern Roman", "Linux Libertine", "Liberation Serif", "Kaiti SC",
    "Kaiti TC", STKaiti, "Kai", BiauKai, "AR PL UKai CN", "AR PL UKai HK",
    "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312,
    DFKai-SB, "TW\-Kai", serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}
