/* material design icons */
.mdi {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  vertical-align: middle;
  line-height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.mdi::before {
  display: inline-block;
  background-size: auto 1em;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: inherit;
  width: 1em;
  height: 1em;
  line-height: 1em;
  content: '';
}

.mdi-account-group-outline::before {
  background-image: url('../images/icons/material-design/light/account-group-outline.svg');
}
.dark .mdi-account-group-outline::before {
  background-image: url('../images/icons/material-design/dark/account-group-outline.svg');
}

.mdi-bullseye-arrow::before {
  background-image: url('../images/icons/material-design/light/bullseye-arrow.svg');
}
.dark .mdi-bullseye-arrow::before {
  background-image: url('../images/icons/material-design/dark/bullseye-arrow.svg');
}

.mdi-clipboard-list-outline::before {
  background-image: url('../images/icons/material-design/light/clipboard-list-outline.svg');
}
.dark .mdi-clipboard-list-outline::before {
  background-image: url('../images/icons/material-design/dark/clipboard-list-outline.svg');
}

.mdi-cog-outline::before {
  background-image: url('../images/icons/material-design/light/cog-outline.svg');
}
.dark .mdi-cog-outline::before {
  background-image: url('../images/icons/material-design/dark/cog-outline.svg');
}

.mdi-download::before {
  background-image: url('../images/icons/material-design/light/download.svg');
}
.dark .mdi-download::before {
  background-image: url('../images/icons/material-design/dark/download.svg');
}

.mdi-play::before {
  background-image: url('../images/icons/material-design/light/play.svg');
}
.dark .mdi-play::before {
  background-image: url('../images/icons/material-design/dark/play.svg');
}

.mdi-school-outline::before {
  background-image: url('../images/icons/material-design/light/school-outline.svg');
}
.dark .mdi-school-outline::before {
  background-image: url('../images/icons/material-design/dark/school-outline.svg');
}

.mdi-seal-variant::before {
  background-image: url('../images/icons/material-design/light/seal-variant.svg');
}
.dark .mdi-seal-variant::before {
  background-image: url('../images/icons/material-design/dark/seal-variant.svg');
}

.mdi-skip-next::before {
  background-image: url('../images/icons/material-design/light/skip-next.svg');
}
.dark .mdi-skip-next::before {
  background-image: url('../images/icons/material-design/dark/skip-next.svg');
}

.mdi-skip-previous::before {
  background-image: url('../images/icons/material-design/light/skip-previous.svg');
}
.dark .mdi-skip-previous::before {
  background-image: url('../images/icons/material-design/dark/skip-previous.svg');
}

.mdi-star-outline::before {
  background-image: url('../images/icons/material-design/light/star-outline.svg');
}
.dark .mdi-star-outline::before {
  background-image: url('../images/icons/material-design/dark/star-outline.svg');
}

.mdi-star::before {
  background-image: url('../images/icons/material-design/light/star.svg');
}
.dark .mdi-star::before {
  background-image: url('../images/icons/material-design/dark/star.svg');
}

.mdi-weather-night::before {
  background-image: url('../images/icons/material-design/light/weather-night.svg');
}
.dark .mdi-weather-night::before {
  background-image: url('../images/icons/material-design/dark/weather-night.svg');
}

.mdi-white-balance-sunny::before {
  background-image: url('../images/icons/material-design/light/white-balance-sunny.svg');
}
.dark .mdi-white-balance-sunny::before {
  background-image: url('../images/icons/material-design/dark/white-balance-sunny.svg');
}

/* custom icons */
.icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  vertical-align: middle;
  line-height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon::before {
  display: inline-block;
  background-size: auto 1em;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  line-height: 1em;
  content: '';
  margin-right: 4px;
}

.icon-tensorflow::before {
  background-image: url('../images/icons/custom/tensorflow.png');
}

.icon-keras::before {
  background-image: url('../images/icons/custom/keras.png');
}

.icon-pytorch::before {
  background-image: url('../images/icons/custom/pytorch.png');
}

.icon-caffe2::before {
  background-image: url('../images/icons/custom/caffe2.png');
}

.icon-mxnet::before {
  background-image: url('../images/icons/custom/mxnet.png');
}

.icon-paddlepaddle::before {
  width: 1.85em;
  background-image: url('../images/icons/custom/paddlepaddle.png');
}

.icon-sonnet::before {
  background-image: url('../images/icons/custom/sonnet.png');
}

.icon-c::before {
  background-image: url('../images/icons/custom/c.svg');
}

.icon-cpp::before {
  background-image: url('../images/icons/custom/cpp.svg');
}

.icon-go::before {
  width: 2.2em;
  background-size: auto 0.8em;
  background-image: url('../images/icons/custom/go.svg');
}

.icon-java::before {
  background-image: url('../images/icons/custom/java.svg');
}

.icon-python::before {
  background-image: url('../images/icons/custom/python.svg');
}

.icon-r::before {
  width: 1.1em;
  background-size: auto 0.8em;
  background-image: url('../images/icons/custom/r.svg');
}

.icon-julia::before {
  width: 1.6em;
  background-image: url('../images/icons/custom/julia.svg');
}

.icon-ruby::before {
  width: 0.8em;
  background-size: auto 0.8em;
  background-image: url('../images/icons/custom/ruby.svg');
}

.icon-swift::before {
  background-image: url('../images/icons/custom/swift.svg');
}

.icon-nodejs::before {
  width: 1.6em;
  background-image: url('../images/icons/custom/nodejs.svg');
}

.icon-restful::before {
  background-image: url('../images/icons/custom/restful.png');
}

.icon-macos::before {
  background-image: url('../images/icons/custom/macos.svg');
}

.icon-linux::before {
  background-image: url('../images/icons/custom/linux.svg');
}

.icon-windows::before {
  background-image: url('../images/icons/custom/windows.svg');
}

.icon-adobe::before {
  width: 1.2em;
  background-image: url('../images/icons/custom/adobe.svg');
}

.icon-airbnb::before {
  background-image: url('../images/icons/custom/airbnb.svg');
}

.icon-apple::before {
  background-image: url('../images/icons/custom/apple.svg');
}

.icon-facebook::before {
  background-image: url('../images/icons/custom/facebook.svg');
}

.icon-firefox::before {
  background-image: url('../images/icons/custom/firefox.svg');
}

.icon-google::before {
  background-image: url('../images/icons/custom/google.svg');
}

.icon-ibm::before {
  width: 2.4em;
  background-image: url('../images/icons/custom/ibm.svg');
}

.icon-microsoft::before {
  background-image: url('../images/icons/custom/microsoft.svg');
}

.icon-salesforce::before {
  width: 1.5em;
  background-image: url('../images/icons/custom/salesforce.svg');
}

.icon-wechat::before {
  width: 1.2em;
  background-image: url('../images/icons/custom/wechat.svg');
}

.icon-alibaba::before {
  width: 1.8em;
  background-image: url('../images/icons/custom/alibaba.png');
}

.icon-ant-group::before {
  width: 0.8em;
  background-image: url('../images/icons/custom/ant-group.png');
}

.icon-qq::before {
  width: 0.8em;
  background-image: url('../images/icons/custom/qq.png');
}
