@import "light.css" print;

@media print {
  html, body {
    background: none;
  }

  del, footer, .masthead, .donate, .douban-card, meting-js {
    display: none;
  }

  body {
    max-width: 700px;
  }

  .main {
    margin-left: 0;
    border-left: none !important;
    padding-left: 10px;
  }
  
  #back-to-top {
    display: none;
  }
}