@media print {
  html {
    background: none !important;
  }

  del, footer, .masthead, .donate, .douban-card, meting-js {
    display: none !important;
  }

  body {
    max-width: 700px !important;
    background: none !important;
  }

  body::after {
    display: none !important;
  }

  .main {
    margin-left: 0 !important;
    border-left: none !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background: none !important;
  }

  #back-to-top {
    display: none !important;
  }
}

@import "light.css" print;