/* reset */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto !important;
}

button,
input,
select,
textarea,
label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

/* icons */
:root {
  --code-copy-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9 18q-.825 0-1.412-.587T7 16V4q0-.825.588-1.412T9 2h9q.825 0 1.413.588T20 4v12q0 .825-.587 1.413T18 18zm0-2h9V4H9zm-4 6q-.825 0-1.412-.587T3 20V7q0-.425.288-.712T4 6t.713.288T5 7v13h10q.425 0 .713.288T16 21t-.288.713T15 22zm4-6V4z"/></svg>');
  --code-copy-success-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 13.4l-2.15-2.15q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7L9.9 15.5q.3.3.7.3t.7-.3l5.65-5.65q.275-.275.275-.7t-.275-.7t-.7-.275t-.7.275zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zM5 5v14z"/></svg>');
  --code-copy-error-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m12 13.4l2.9 2.9q.275.275.7.275t.7-.275t.275-.7t-.275-.7L13.4 12l2.9-2.9q.275-.275.275-.7t-.275-.7t-.7-.275t-.7.275L12 10.6L9.1 7.7q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7l2.9 2.9l-2.9 2.9q-.275.275-.275.7t.275.7t.7.275t.7-.275zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zM5 5v14z"/></svg>');
}

/* colors */
:root {
  --html-background: #fafafa;
  --body-background: #ffffff;
  --body-background-alpha: rgba(255, 255, 255, 0.66);
  --body-foreground: #000000;
  --block-border: #444444;
  --block-background: #eeeeee;
  --code-border: #dddddd;
  --code-foreground: #444444;
  --code-background: #f6f6f6;
  --code-lang-background: #dddddd;
  --code-lang-foreground: #444444;
  --box-shadow: rgba(0, 0, 0, 0.25);

  --code-button-copy-default: #00000012;
  --code-button-copy-area-hover: #707070;
}

.dark {
  --html-background: #232323;
  --body-background: #2f2f2f;
  --body-background-alpha: rgba(47, 47, 47, 0.66);
  --body-foreground: #e6e6e6;
  --block-border: #e6e6e6;
  --block-background: #383838;
  --code-border: #dddddd;
  --code-foreground: #cccccc;
  --code-background: #383838;
  --code-lang-background: #444444;
  --code-lang-foreground: #cccccc;
  --box-shadow: rgba(0, 0, 0, 0.25);

  --code-button-copy-default: #ffffff24;
  --code-button-copy-area-hover: #cccccc;
}

html {
  background: var(--html-background) !important;
}

body {
  background: var(--body-background) !important;
  background: var(--body-background-alpha) !important;
}

body,
a {
  color: var(--body-foreground);
}

.logo {
  background-image: url(/images/web/avatar-light-theme.svg);
  background-repeat: no-repeat;
}

.dark .logo {
  background-image: url(/images/web/avatar-dark-theme.svg);
}

.main {
  border-left: 3px solid var(--body-foreground);
}

blockquote {
  border-left: 3px solid var(--block-border);
}

#TableOfContents {
  background-color: var(--block-background);
}

table {
  border-top: 1px solid var(--block-border);
  border-bottom: 1px solid var(--block-border);
}

table thead th {
  border-bottom: 1px solid var(--block-border);
}

thead,
tfoot,
tr:nth-child(even) {
  background: var(--block-background);
}

.ps-root .ps-algorithm {
  border-top: 1px solid var(--block-border) !important;
  border-bottom: 1px solid var(--block-border) !important;
}

.ps-root .ps-algorithm.with-caption > .ps-line:first-child {
  border-bottom: 1px solid var(--block-border) !important;
}

.douban-card {
  background: var(--block-background) !important;
  box-shadow: 0 2px 4px var(--box-shadow), 0 0 2px var(--box-shadow);
}

.donate-button {
  color: var(--body-foreground);
}

.aplayer {
  background: var(--block-background) !important;
}

.aplayer .aplayer-lrc:after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--block-background) 100%
  ) !important;
}

.highlight {
  background: var(--code-background) !important;
  color: var(--code-foreground) !important;
}

code:before {
  background: var(--code-lang-background) !important;
  color: var(--code-lang-foreground) !important;
}

#back-to-top {
  background: var(--block-background) !important;
  color: var(--body-foreground) !important;
  box-shadow: 0 2px 5px 0 var(--box-shadow) !important;
}

@media screen and (min-width: 960px) {
  html::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background: url(/images/web/little-bear-light.png) no-repeat 50% 50%;
    background-size: cover;
  }

  html.dark::after {
    background: url(/images/web/little-bear-dark.png) no-repeat 50% 50%;
  }
}

#theme-toggle-icon::before {
  background-image: url("../images/icons/material-symbols/light/dark-mode-outline.svg");
}

.dark #theme-toggle-icon::before {
  background-image: url("../images/icons/material-symbols/dark/light-mode-outline.svg");
}

@media screen and (max-width: 960px) {
  html {
    background: var(--html-background);
  }

  body {
    background: var(--body-background);
  }

  .masthead {
    border-bottom: 3px solid var(--body-foreground);
  }

  .masthead .menu a,
  .masthead .menu span {
    color: var(--body-background);
    background: var(--block-border);
  }

  .masthead .menu .active a {
    border: 1px solid var(--block-border);
    color: var(--body-foreground);
  }
}

/* typography */
body {
  line-height: 1.75;
}

h1 {
  padding: 0;
  margin: 32px auto;
  line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 32px 0;
  line-height: 1.25;
}

h1 {
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: left;
}

h3 {
  font-size: 20px;
  text-align: left;
}

h4,
h5,
h6 {
  font-size: 16px;
  text-align: left;
}

blockquote {
  margin: 1em 0;
  padding: 0 2em;
}

blockquote p {
  line-height: 1.6rem;
}

hr {
  margin: 2em auto;
}

footer hr {
  margin: 2em auto 1em;
}

figure {
  margin: 16px auto 16px;
  text-align: center;
}

figure img {
  max-width: attr(data-large-max-width);
}

iframe,
twitterwidget,
video {
  max-width: 100%;
  display: block;
  margin: auto;
}

/* code */
.highlight-wrapper {
  position: relative;
}

.highlight-wrapper:hover .code-button-copy,
.highlight-wrapper:focus-within .code-button-copy {
  color: var(--code-button-copy-area-hover);
}

.highlight {
  padding: 1em;
  border-radius: 0.3rem;
  font-size: 0.9em !important;
}

.chroma {
  margin: 0;
}

code {
  line-height: 1.5em;
  direction: ltr;
  text-align: left;
  text-shadow: none;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

code:before {
  content: attr(data-lang);
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0 0.5em;
  text-shadow: none;
}

code[class="language-plain"]:before {
  display: none;
}

.code-button-copy {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  color: var(--code-button-copy-default);
  cursor: pointer;
  display: block;
  height: 1.5em;
  width: 1.5em;
  transition: color 0.25s;
  border: 0;
  background: #00000000;
}

.code-button-copy:after {
  -webkit-mask-image: var(--code-copy-icon);
  mask-image: var(--code-copy-icon);
  background-color: currentcolor;
  content: "";
  display: block;
  height: 1.125em;
  width: 1.125em;
  margin: 0 auto;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.code-button-copy-success:after {
  -webkit-mask-image: var(--code-copy-success-icon);
  mask-image: var(--code-copy-success-icon);
}

.code-button-copy-error:after {
  -webkit-mask-image: var(--code-copy-error-icon);
  mask-image: var(--code-copy-error-icon);
}

/* lists */
ul,
ol {
  padding: 0 0 0 20px;
}

li {
  margin: 4px 0;
  padding: 0;
}

li[role="doc-endnote"] p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* links */
a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed;
  line-break: anywhere;
}

a:hover {
  border-bottom: none;
}

sup a {
  border-bottom: none;
}

/* miscellanea */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  padding: 0;
  max-width: 300px;
}

.copyright {
  text-align: center;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: 1em;
  text-align: right;
}

.nav-prev {
  margin-right: 1em;
}

.comments {
  margin-top: 20px;
}

/* layout */
body {
  width: 960px;
  margin: 0 auto !important;
  padding: 20px 0;
}

.masthead {
  width: 240px;
  padding: 20px 50px 20px 10px;
  float: left;
}

.main {
  width: 720px;
  padding: 32px 10px 20px 50px;
  margin-left: 240px;
  min-height: calc(100dvh - 40px);
}

/* masthead */
.masthead h1 {
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0;
  text-align: right;
  font-size: 46px;
  line-height: 58px;
}

.masthead h1 a {
  border-bottom: none;
}

.masthead .slogan {
  text-align: right;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.masthead .menu {
  margin-right: 20px;
  direction: rtl;
}

.masthead .menu a {
  direction: ltr;
}

.masthead .menu ul ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.masthead .menu li li::before {
  content: "•\00a\000a0\00a0";
}

/* main */
.title {
  margin-top: 0;
  font-size: 32px;
}

.subtitle,
.author-date {
  text-align: center;
}

.post-meta {
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: normal;
  text-align: center;
}

.post-meta a {
  text-decoration: none;
  border: none;
}

#TableOfContents {
  padding: 0.5em;
}

/* footnotes */
.footnotes {
  font-size: 0.9em;
}

/* tables */
table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

td code {
  background: none !important;
  padding: 0;
}

/* google adsense */
.adsbygoogle {
  margin: 16px auto 16px auto !important;
}

/* utility styles */
.unselectable {
  user-select: none;
}

.logo {
  height: 140px;
  background-position: right;
}

.slogan {
  font-weight: bold;
}

.menu li:not([class]) a,
a:hover,
.no-border-bottom a {
  border-bottom: none;
}

.theme-toggle {
  list-style-type: none;
}

.theme-toggle span {
  cursor: pointer;
}

.main {
  hyphens: auto;
}

.main,
.masthead {
  padding: 1em 40px;
}

.masthead h1 {
  margin-bottom: 0;
}

.masthead .menu .menu-separator {
  list-style-type: none;
}

.en .main header ~ p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: 0.05em;
  font-size: 1.1em;
}

.en .main header ~ p:first-of-type::first-letter {
  font-size: 3em;
  padding: 0.1em 0.1em 0 0;
  float: left;
  line-height: 1em;
}

.pseudocode {
  display: none;
}

.ps-root .ps-line {
  line-height: 1.4rem !important;
}

.footnote-ref:before {
  content: "[";
}

.footnote-ref:after {
  content: "]";
}

nav sup,
nav a[href^="\#fn\:"] {
  display: none;
}

.MathJax_ref:before {
  content: "(";
}

.MathJax_ref:after {
  content: ")";
}

mjx-container {
  font-size: 100% !important;
}

.material-icons {
  font-size: 100%;
  vertical-align: text-bottom;
}

img[alt="github-stars"],
img[alt="github-followers"] {
  vertical-align: text-bottom;
}

footer .adsbygoogle {
  margin-top: 20px;
}

.toc-depth-1 nav ul li ul {
  display: none;
}

.toc-depth-2 nav ul li ul li ul {
  display: none;
}

.toc-depth-3 nav ul li ul li ul li ul {
  display: none;
}

.video-table thead tr th,
.book-table thead tr th,
.video-table tbody tr td:nth-child(n + 6),
.book-table tbody tr td:nth-child(n + 5) {
  text-align: center;
}

.video-table thead tr th:nth-child(-n + 2),
.video-table tbody tr td:nth-child(-n + 2),
.book-table thead tr th:nth-child(-n + 2),
.book-table tbody tr td:nth-child(-n + 2) {
  display: none;
}

.video-table tbody tr td:nth-child(3) {
  width: 9em;
}

.video-table tbody tr td:nth-child(4) {
  width: 5em;
}

.video-table tbody tr td:nth-child(6) {
  width: 3em;
}

.video-table tbody tr td:nth-child(7) {
  width: 3em;
}

.video-table tbody tr td:nth-child(8) {
  width: 3em;
}

.book-table tbody tr td:nth-child(4) {
  width: 10em;
}

.book-table tbody tr td:nth-child(5) {
  width: 5.8em;
}

.book-table tbody tr td:nth-child(6) {
  width: 5.8em;
}

.book-table tbody tr td:nth-child(7) {
  width: 3em;
}

.book-table tbody tr td:nth-child(8) {
  width: 3em;
}

.aplayer {
  margin: 1em auto !important;
  border-radius: 6px !important;
}

.aplayer .aplayer-lrc:before {
  display: none !important;
}

.terms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.term {
  flex: 1 1 auto;
  margin: auto 0.6rem 0.6rem 0.6rem;
  text-align: center;
}

.term a {
  --size: 1;
  font-size: calc(var(--size) * 0.2rem + 0.8rem);
}

.term a[data-weight="1"] {
  --size: 1;
}

.term a[data-weight="2"] {
  --size: 2;
}

.term a[data-weight="3"] {
  --size: 3;
}

.term a[data-weight="4"] {
  --size: 4;
}

.term a[data-weight="5"] {
  --size: 5;
}

.term a[data-weight="6"] {
  --size: 6;
}

.term a[data-weight="7"] {
  --size: 7;
}

.term a[data-weight="8"] {
  --size: 8;
}

.term a[data-weight="9"] {
  --size: 9;
}

.term a::after {
  content: " (" attr(data-count) ")";
  font-size: 1rem;
}

/* gallery */
.gallery a {
  border: none;
  text-decoration: none;
}

/* kbd */
kbd {
  font-family: Consolas, "Lucida Console", monospace;
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  font-variant: small-caps;
  font-weight: 600;
  line-height: 1.4;

  /* This two work */
  /* letter-spacing: 0.5px; */
  letter-spacing: 1px;

  /* Prevent selection */
  user-select: none;
}

kbd:hover,
kbd:hover * {
  color: black;
  /* box-shadow: 1px 1px 1px #333; */
}

kbd:active,
kbd:active * {
  color: black;
  box-shadow: 1px 1px 0px #ddd inset;
}

kbd kbd {
  padding: 0px;
  margin: 0 1px;
  box-shadow: 0px 0px 0px black;
  vertical-align: baseline;
  background: none;
}

kbd kbd:hover {
  box-shadow: 0px 0px 0px black;
}

kbd:active kbd {
  box-shadow: 0px 0px 0px black;
  background: none;
}

/* comments */
.comments {
  margin-top: 20px;
}

/* anchor */
.anchor {
  display: none;
}

.anchor a {
  border: none;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline-block;
}

/* others */
.hidden {
  display: none;
}

.center {
  text-align: center;
}

p.list-title {
  text-indent: -5em;
  padding-left: 5em;
}

p.list-title span {
  margin-right: 0.2em;
}

/* different size screens */
@viewport {
  width: device-width;
}

@media screen and (min-width: 1920px) {
  body {
    width: 1260px;
  }

  .main {
    width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .masthead {
    position: fixed;
    top: 2em;
  }

  .theme-toggle {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 960px) {
  body {
    width: auto;
    max-width: 720px;
    padding: 10px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 32px auto;
  }

  .logo {
    background-position: center;
    display: none;
  }

  .masthead {
    width: auto;
    float: none;
    padding: 1em 0;
    text-align: center;
    margin: auto 30px;
  }

  .main {
    width: auto;
    padding: 0 30px;
    margin-left: 0;
    border-left: none !important;
    min-height: auto;
  }

  .masthead h1 {
    text-align: center;
    margin-bottom: 0;
  }

  .masthead .slogan {
    text-align: center;
    display: none;
  }

  .masthead .menu {
    direction: ltr;
    max-width: inherit;
    margin: 10px auto 0 auto;
  }

  .masthead .menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .masthead .menu ul ul {
    margin: 0;
  }

  .masthead .menu li {
    border-bottom: 1px solid;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .masthead .menu li:first-child {
    border-top: 1px solid;
  }

  .masthead .menu li li:last-child {
    border-bottom: none;
  }

  .masthead .menu a,
  .masthead .menu span {
    display: block;
    border-bottom: none;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    line-height: 28px;
  }

  .masthead .menu span {
    display: block;
  }

  .masthead .menu span::before {
    background-size: auto 1.2em;
    vertical-align: middle;
    line-height: 28px;
  }

  .masthead .menu .active a {
    background: none;
  }

  .masthead .menu li li a,
  .masthead .menu li li span {
    padding-left: 30px;
  }

  .masthead .menu li li::before {
    content: none;
  }

  .masthead .menu li li a::before {
    content: "•\00a0\00a0\00a0";
  }

  .masthead .menu li,
  .masthead .menu li:first-child {
    border: none;
    display: inline-block;
    margin-bottom: 4px;
  }

  .masthead .menu .menu-separator {
    display: none;
  }

  .title {
    font-size: 28px;
    margin-top: 32px;
  }

  #theme-toggle-icon::before {
    background-image: url("../images/icons/material-symbols/dark/dark-mode-outline.svg");
  }

  .dark #theme-toggle-icon::before {
    background-image: url("../images/icons/material-symbols/light/light-mode-outline.svg");
  }

  .terms {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  .masthead {
    padding-top: 0;
  }

  .flex {
    display: block !important;
  }
}
