@theme {
  --icon-lucide-moon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon-icon lucide-moon"><path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"/></svg>');
  --icon-lucide-sun: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun-icon lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>');
  --icon-lucide-star-filled: url("/images/icons/lucide/star-filled.svg");

  --icon-theme-toggle: var(--icon-lucide-moon);

  --icon-adobe: url("/images/icons/adobe.svg");
  --icon-airbnb: url("/images/icons/airbnb.svg");
  --icon-alibaba: url("/images/icons/alibaba.svg");
  --icon-alipay: url("/images/icons/alipay.svg");
  --icon-apple: url("/images/icons/apple.svg");
  --icon-bilibili: url("/images/icons/bilibili.svg");
  --icon-c: url("/images/icons/c.svg");
  --icon-caffe2: url("/images/icons/caffe2.svg");
  --icon-cpp: url("/images/icons/cpp.svg");
  --icon-facebook: url("/images/icons/facebook.svg");
  --icon-firefox: url("/images/icons/firefox.svg");
  --icon-go: url("/images/icons/go.svg");
  --icon-google: url("/images/icons/google.svg");
  --icon-ibm: url("/images/icons/ibm.svg");
  --icon-java: url("/images/icons/java.svg");
  --icon-javascript: url("/images/icons/javascript.svg");
  --icon-julia: url("/images/icons/julia.svg");
  --icon-keras: url("/images/icons/keras.svg");
  --icon-linux: url("/images/icons/linux.svg");
  --icon-macos: url("/images/icons/macos.svg");
  --icon-microsoft: url("/images/icons/microsoft.svg");
  --icon-mxnet: url("/images/icons/mxnet.png");
  --icon-nodejs: url("/images/icons/nodejs.svg");
  --icon-paddlepaddle: url("/images/icons/paddlepaddle.png");
  --icon-python: url("/images/icons/python.svg");
  --icon-pytorch: url("/images/icons/pytorch.svg");
  --icon-qq: url("/images/icons/qq.svg");
  --icon-qt: url("/images/icons/qt.svg");
  --icon-r: url("/images/icons/r.svg");
  --icon-react: url("/images/icons/react.svg");
  --icon-restful: url("/images/icons/restful.png");
  --icon-ruby: url("/images/icons/ruby.svg");
  --icon-rust: url("/images/icons/rust.svg");
  --icon-salesforce: url("/images/icons/salesforce.svg");
  --icon-spark: url("/images/icons/spark.svg");
  --icon-sonnet: url("/images/icons/sonnet.png");
  --icon-swift: url("/images/icons/swift.svg");
  --icon-tensorflow: url("/images/icons/tensorflow.svg");
  --icon-typescript: url("/images/icons/typescript.svg");
  --icon-wechat: url("/images/icons/wechat.svg");
  --icon-windows: url("/images/icons/windows.svg");
  --icon-youtube: url("/images/icons/youtube.svg");
}

@layer theme {
  .dark {
    --icon-theme-toggle: var(--icon-lucide-sun);
  }
}

.icon,
.icon-mask {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.icon::before,
.icon-mask::before {
  display: inline-block;
  background-size: auto 1em;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: inherit;
  width: 1em;
  height: 1em;
  content: "";
  vertical-align: middle;
}

.icon-mask::before {
  mask-size: auto 1em;
  background-color: var(--color-html-foreground);
}

.lucide {
  width: 1em;
  height: 1em;
}

.icon-theme-toggle::before {
  width: 1.2em;
  height: 1.2em;
  background-size: auto 1.2em;
  background-color: var(--color-html-background);
  mask-image: var(--icon-theme-toggle);
  mask-size: 1.2em 1.2em;

  @variant lg {
    background-color: var(--color-html-foreground);
  }
}

/* lucide */
.icon-lucide-star-filled::before {
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-filled-icon lucide-star-filled"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>');
}

/* custom */
.icon-adobe::before {
  background-image: var(--icon-adobe);
}

.icon-airbnb::before {
  background-image: var(--icon-airbnb);
}

.icon-alibaba::before {
  background-image: var(--icon-alibaba);
}

.icon-alipay::before {
  background-image: var(--icon-alipay);
}

.icon-apple::before {
  background-image: var(--icon-apple);
}

.icon-bilibili::before {
  background-image: var(--icon-bilibili);
}

.icon-c::before {
  background-image: var(--icon-c);
}

.icon-caffe2::before {
  background-image: var(--icon-caffe2);
}

.icon-cpp::before {
  background-image: var(--icon-cpp);
}

.icon-facebook::before {
  background-image: var(--icon-facebook);
}

.icon-firefox::before {
  background-image: var(--icon-firefox);
}

.icon-go::before {
  background-image: var(--icon-go);
}

.icon-google::before {
  background-image: var(--icon-google);
}

.icon-ibm::before {
  background-image: var(--icon-ibm);
}

.icon-java::before {
  background-image: var(--icon-java);
}

.icon-javascript::before {
  background-image: var(--icon-javascript);
}

.icon-julia::before {
  background-image: var(--icon-julia);
}

.icon-keras::before {
  background-image: var(--icon-keras);
}

.icon-linux::before {
  background-image: var(--icon-linux);
}

.icon-macos::before {
  background-image: var(--icon-macos);
}

.icon-microsoft::before {
  background-image: var(--icon-microsoft);
}

.icon-mxnet::before {
  background-image: var(--icon-mxnet);
}

.icon-nodejs::before {
  background-image: var(--icon-nodejs);
}

.icon-paddlepaddle::before {
  background-image: var(--icon-paddlepaddle);
}

.icon-python::before {
  background-image: var(--icon-python);
}

.icon-pytorch::before {
  background-image: var(--icon-pytorch);
}

.icon-qq::before {
  background-image: var(--icon-qq);
}

.icon-qt::before {
  background-image: var(--icon-qt);
}

.icon-r::before {
  background-image: var(--icon-r);
}

.icon-react::before {
  background-image: var(--icon-react);
}

.icon-restful::before {
  background-image: var(--icon-restful);
}

.icon-ruby::before {
  background-image: var(--icon-ruby);
}

.icon-rust::before {
  background-image: var(--icon-rust);
}

.icon-salesforce::before {
  background-image: var(--icon-salesforce);
}

.icon-spark::before {
  background-image: var(--icon-spark);
}

.icon-sonnet::before {
  background-image: var(--icon-sonnet);
}

.icon-swift::before {
  background-image: var(--icon-swift);
}

.icon-tensorflow::before {
  background-image: var(--icon-tensorflow);
}

.icon-typescript::before {
  background-image: var(--icon-typescript);
}

.icon-wechat::before {
  background-image: var(--icon-wechat);
}

.icon-windows::before {
  background-image: var(--icon-windows);
}

.icon-youtube::before {
  background-image: var(--icon-youtube);
}
