.shortcode-button,
.shortcode-copy-to-clipboard {
  @apply inline-flex shrink-0 items-center justify-center rounded-md font-medium border h-8 gap-1 px-2 border-transparent bg-clip-padding cursor-pointer no-underline whitespace-nowrap outline-none select-none transition-all text-sm shadow-xs;

  border-color: var(--color-button-border);
  background-color: var(--color-button-background);
}

.shortcode-button:hover,
.shortcode-copy-to-clipboard:hover {
  background-color: var(--color-button-background-hover);
}

.shortcode-right-align-container {
  @apply float-end inline-flex;
}

.shortcode-right-align-content {
  @apply justify-end;
}
