{{- if not ($.Page.Store.Get "shortcode-figure") }}
  {{- $.Page.Store.Add "shortcode-figure" 1 }}
{{- end }}

<figure
  class="shortcode-figure"
  {{- with .Get "class" }} class="{{ . }}"{{- end }}>
  {{- if .Get "link" }}
    <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
  {{- end }}
  {{- $caption := or (.Get "caption") (.Get "title") }}
  {{- $u := urls.Parse (or (.Get "src") (.Get "image")) }}
  {{- $src := $u.String }}
  {{- if not $u.IsAbs }}
    {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) }}
      {{- $src = .RelPermalink }}
    {{- end }}
  {{- end }}
  <img
    class="lazyload"
    data-src="{{ $src }}"
    {{- if or (.Get "alt") $caption }}
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ $caption | markdownify | plainify }}{{ end }}"
    {{- end }}
    {{- $width := .Get "width" | default "auto" }}
    {{- $largeMaxWidth := .Get "large-max-width" | default $width}}
    {{- $middleMaxWidth := .Get "middle-max-width" | default $largeMaxWidth }}
    {{- $smallMaxWidth := .Get "small-max-width" | default $middleMaxWidth  }}
    {{- $height := .Get "height" | default "auto" }}
    {{- $largeMaxHeight := .Get "large-max-height" | default $height}}
    {{- $middleMaxHeight := .Get "middle-max-height" | default $largeMaxHeight }}
    {{- $smallMaxHeight := .Get "small-max-height" | default $middleMaxHeight  }}
    data-large-max-width="{{ $largeMaxWidth }}"
    data-middle-max-width="{{ $middleMaxWidth }}"
    data-small-max-width="{{ $smallMaxWidth }}"
    data-large-max-height="{{ $largeMaxHeight }}"
    data-middle-max-height="{{ $middleMaxHeight }}"
    data-small-max-height="{{ $smallMaxHeight }}"
  />
  {{- if .Get "link" }}</a>{{ end }}
  {{- if or $caption (.Get "attr") }}
    <figcaption>
      {{- with .Get "attrlink" }}<a href="{{ . }}">{{- end }}{{ $caption | markdownify }}{{- if .Get "attrlink" }}</a>{{ end }}
    </figcaption>
  {{- end }}
</figure>
