{{- if not ($.Page.Store.Get "shortcode-tab") }}
  {{- $.Page.Store.Add "shortcode-tab" 1 }}
  <link rel="stylesheet" type="text/css" href="/css/_shortcodes/tab.css" />
{{- end }}

{{- with .Inner }}{{/* don't do anything, just call it */}}{{- end }}
{{- $tabId := .Get "id" | default time.Now.UnixMicro }}
{{- $tabItemsLength := .Store.Get "shortcode-tab-items" | len }}
{{- $labelsPosition := .Get "labels-position" | default "flex-start" }}


<div class="shortcode-tab" style="justify-content: {{ $labelsPosition }};">
  {{- range $idx, $tabItem := .Store.Get "shortcode-tab-items" }}
    <input
      type="radio"
      id="{{ $tabId }}-{{ $idx }}"
      name="{{ $tabId }}"
      {{- if eq $idx 0 }} checked="checked" {{ end }}
    />
    <label for="{{ $tabId }}-{{ $idx }}">{{ .label | markdownify }}</label>
    <div class="shortcode-tab-item">
      {{ .content }}
    </div>
  {{- end }}
</div>
