{{ if .Section }}
<nav class="post-nav">
  <span class="nav-prev">{{ with .PrevInSection }}&larr; <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</span>
  <span class="nav-next">{{ with .NextInSection }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> &rarr;{{ end }}</span>
</nav>
{{ end }}

{{ if and (not .Params.disable_adsense) (and (not .IsHome) .Content) }}
{{ with $.Site.Params.googleAdsense }}
<ins
  class="adsbygoogle"
  style="display:block; text-align:center;"
  data-ad-layout="in-article"
  data-ad-format="fluid"
  data-ad-client="{{ . }}"
  data-ad-slot="8302038603"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ end }}
{{ end }}

<script src='//cdn.jsdelivr.net/npm/js-cookie@{{ $.Site.Params.jsCookieVersion }}/dist/js.cookie.min.js'></script>
<script src="/js/toggle-theme.js"></script>

{{ if not .IsHome }}
<script src="/js/no-highlight.js"></script>
<script src="/js/math-code.js"></script>
<script src="/js/heading-anchor.js"></script>
{{ end }}

{{ partial "footer_giscus.html" . }}
{{ partial "footer_prismjs.html" . }}
{{ partial "footer_pseudocode.html" . }}
{{ partial "footer_gallery.html" . }}
{{ partial "footer_image_compare.html" . }}

{{ if $.Page.Scratch.Get "douban-card" }}
<script src="/js/douban-card.js"></script>
{{ end }}

{{ if $.Page.Scratch.Get "figure-slider" }}
<script src="/js/figure-slider.js"></script>
{{ end }}

{{ if $.Page.Scratch.Get "videojs" }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/video.js@{{ $.Site.Params.videojsVersion }}/dist/video-js.min.css">
<script src="//cdn.jsdelivr.net/npm/video.js@{{ $.Site.Params.videojsVersion }}/dist/video.min.js"></script>
{{ end }}

{{ if or (eq .Kind "404") (and (not .IsHome) .Content) }}
<script async src="/js/center-img.js"></script>
<script async src="/js/right-quote.js"></script>
<script async src="/js/external-link.js"></script>
<script async src="/js/alt-title.js"></script>
<script async src="/js/figure.js"></script>
{{ end }}

{{ if and (not .IsHome) .Content }}
<script src="//cdn.jsdelivr.net/npm/lazysizes@{{ $.Site.Params.lazysizesVersion }}/lazysizes.min.js"></script>
{{ end }}

<script src="//cdn.jsdelivr.net/npm/vanilla-back-to-top@{{ $.Site.Params.vanillaBackToTopVersion }}/dist/vanilla-back-to-top.min.js"></script>
<script>
addBackToTop({
  diameter: 48
});
</script>
