{{ if .Section }}
<nav class="post-nav">
  <span class="nav-prev">{{ with .PrevInSection }}&larr; <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</span>
  <span class="nav-next">{{ with .NextInSection }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> &rarr;{{ end }}</span>
</nav>
<script type="text/javascript">
document.addEventListener('keyup', function(e) {
  if (e.target.nodeName.toUpperCase() != 'BODY') return;
  var url = false;
  if (e.which == 37) {  // Left arrow
    {{ if .PrevInSection }}
    url = '{{ .PrevInSection.RelPermalink }}';
    {{ end }}
  } else if (e.which == 39) {  // Right arrow
    {{ if .NextInSection }}
    url = '{{ .NextInSection.RelPermalink }}';
    {{ end }}
  }
  if (url) window.location = url;
});
</script>
{{ end }}

{{ partial "google_adsense_footer.html" . }}

{{ partial "disqus.html" . }}
{{ partial "footer_prismjs.html" . }}

{{ range .Site.Params.customJS }}
<script async src="{{ . | relURL }}"></script>
{{ end }}

{{ if and (not .Params.disable_highlight) (not .IsHome) }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
    equationNumbers: {
      autoNumber: "all"
    }
  }
});
</script>
<script async src="{{ $.Site.Params.mathjaxCDN }}/mathjax/{{ $.Site.Params.mathjaxVersion }}/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ end }}

{{ if $.Page.Scratch.Get "pseudocode" }}
<script src='{{ $.Site.Params.katexCDN }}/KaTeX/{{ $.Site.Params.katexVersion }}/katex.min.js'></script>
<script src="{{ $.Site.Params.pseudocodeCDN }}/pseudocode/{{ $.Site.Params.pseudocodeVersion }}/pseudocode.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var captionCount = 0;
    $(".pseudocode").each(function() {
        var pseudocode_options = {
            indentSize: '{{ $.Site.Params.indentSize | default "1.2em" }}',
            commentDelimiter: '{{ $.Site.Params.commentDelimiter | default "//" }}',
            lineNumber: {{ $.Site.Params.lineNumber | default true }},
            lineNumberPunc: '{{ $.Site.Params.lineNumberPunc | default ":" }}',
            noEnd: {{ $.Site.Params.noEnd | default false }}
        };
        pseudocode_options.captionCount = captionCount;
        captionCount += 1;
        var codeEl = $(this).get(0);
        pseudocode.render(codeEl.textContent, codeEl.parentElement, pseudocode_options);
    });
});
</script>
{{ end }}

{{ if $.Page.Scratch.Get "mdc" }}
<script src="{{ $.Site.Params.materialComponentsWebCDN }}/material-components-web@{{ $.Site.Params.materialComponentsWebVersion }}/dist/material-components-web.min.js"></script>
<script>window.mdc.autoInit()</script>
{{ end }}

{{ if $.Page.Scratch.Get "douban-card" }}
<script src="/js/douban-card.js"></script>
{{ end }}

{{ if or .IsHome (len (findRE "^/cn/" .RelPermalink)) }}
<script async src="/js/load-typekit.js"></script>
<script src="{{ $.Site.Params.panguCDN }}/pangu/{{ $.Site.Params.panguVersion }}/pangu.min.js"></script>
<script>
$(document).ready(function() {
    pangu.ignoreTags = /^(script|code|pre|textarea|a)$/i;
    pangu.spacingPage();
});
</script>
{{ end }}
