{{ if and (and (not .Params.disable_highlight) (in (string .Content) "</pre>")) (not .IsHome) }}
<script src="//cdn.jsdelivr.net/npm/clipboard@{{ $.Site.Params.clipboardjsVersion }}/dist/clipboard.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/prismjs@{{ $.Site.Params.prismjsVersion }}/prism.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/prismjs@{{ $.Site.Params.prismjsVersion }}/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/prismjs@{{ $.Site.Params.prismjsVersion }}/plugins/toolbar/prism-toolbar.min.js"></script>
<script>
  (function() {
    if (!self.Prism) {
      return;
    }

    // 显示语言
    Prism.languages.dos = Prism.languages.powershell;
    Prism.languages.gremlin = Prism.languages.groovy;

    let languages = {
      'apacheconf': 'Apache Configuration', 
      'bash': 'Bash',
      'c': 'C',
      'css': 'CSS',
      'cypher': 'Cypher',
      'dos': 'DOS',
      'gremlin': 'Gremlin',
      'html': 'HTML',
      'javascript': 'JavaScript',
      'json': 'JSON', 
      'latex': 'LaTeX',
      'ngql': 'nGQL',
      'powershell': 'PowerShell',
      'python': 'Python',
      'qml': 'QML',
      'r': 'R',
      'sh': 'Shell',
      'shell': 'Shell',
      'sparql': 'SPARQL',
      'sql': 'SQL',
      'tex': 'TeX',
      'text': 'Text',
      'txt': 'Text',
      'xml': 'XML', 
      'yaml': 'YAML',
    };

    Prism.hooks.add('before-highlight', function(env) {
      if (env.language !== 'plain') {
        let language = languages[env.language] || env.language;
        env.element.setAttribute('data-language', language);
      }
    });

    // 复制代码
    let ClipboardJS = window.ClipboardJS || undefined;

    Prism.plugins.toolbar.registerButton('copy-to-clipboard', function(env) {
      let linkCopy = document.createElement('button');
      linkCopy.classList.add('prism-button-copy');

      registerClipboard();

      return linkCopy;

      function registerClipboard() {
        let clip = new ClipboardJS(linkCopy, {
          'text': function () {
            return env.code;
          }
        });

        clip.on('success', function() {
          linkCopy.classList.add('prism-button-copy-success');
          resetText();
        });
        clip.on('error', function () {
          linkCopy.classList.add('prism-button-copy-error');
          resetText();
        });
      }

      function resetText() {
        setTimeout(function () {
          linkCopy.classList.remove('prism-button-copy-success');
          linkCopy.classList.remove('prism-button-copy-error');
        }, 1600);
      }
    });
  })();
</script>
{{ end }}
