{{ if $.Page.Scratch.Get "pseudocode" }}
<script src="//cdn.jsdelivr.net/npm/pseudocode@{{ $.Site.Params.pseudocodeVersion }}/build/pseudocode.min.js"></script>
<script type="text/javascript">
let pseudocodeCaptionCount = 0;
(function(d) {
  d.querySelectorAll(".pseudocode").forEach(function(elem) {
    let pseudocode_options = {
      indentSize: '{{ $.Site.Params.indentSize | default "1.2em" }}',
      commentDelimiter: '{{ $.Site.Params.commentDelimiter | default "//" }}',
      lineNumber: {{ $.Site.Params.lineNumber | default true }},
      lineNumberPunc: '{{ $.Site.Params.lineNumberPunc | default ":" }}',
      noEnd: {{ $.Site.Params.noEnd | default false }}
    };
    pseudocode_options.captionCount = pseudocodeCaptionCount;
    pseudocodeCaptionCount += 1;
    pseudocode.renderElement(elem, pseudocode_options);
  });
})(document);
</script>
{{ end }}