{{ if $.Page.Scratch.Get "nanogallery2-gallery" }}
<link rel="stylesheet" type="text/css" href="{{ "/css/nanogallery2.css" | relURL }}" />
<link rel="stylesheet" href="{{ $.Site.Params.nanogallery2CDN }}/nanogallery2/{{ $.Site.Params.nanogallery2Version }}/css/nanogallery2.min.css"/>
<script src="{{ $.Site.Params.jQueryCDN }}/jquery/{{ $.Site.Params.jQueryVersion }}/jquery.min.js"></script>
<script src="{{ $.Site.Params.nanogallery2CDN }}/nanogallery2/{{ $.Site.Params.nanogallery2Version }}/jquery.nanogallery2.min.js"></script>

<script>
$(document).ready(function() {
  $(".nanogallery2-gallery").each(function() {
    let dataURL = $(this).attr("data");
    let elemId = this.id;

    $.getJSON(dataURL, function(data) {
      $("#" + elemId).nanogallery2(data);
    });
  });
});
</script>
{{ end }}