    <title>{{ .Title }} - {{ .Site.Title }}</title>

    <meta name="referrer" content="no-referrer">
    
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta name="description" property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ end }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    
    {{ with or .Params.author (index .Site.Params.author .Section) }}
    <meta name="author" property="article:author" content="{{ . }}">
    {{ end }}
    
    {{ with .Date }}
    <meta name="date" property="article:published_time" content="{{ dateFormat "2006-01-02" . }}" scheme="YYYY-MM-DD">
    {{ end }}
    {{ with .Lastmod }}
    <meta name="date" property="article:modified_time" content="{{ dateFormat "2006-01-02" . }}" scheme="YYYY-MM-DD">
    {{ end }}

    {{ if .Keywords }}
    <meta name="keywords" property="article:tag" content ="{{ delimit .Keywords "," }}">
    {{ else if .Params.tags }}
    <meta name="keywords" property="article:tag" content ="{{ delimit .Params.tags "," }}">
    {{ end }}