<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ partial "header_meta.html" . }}
    {{ partial "header_json_ld.html" . }}

    {{ if .RSSLink }}
    <link href="{{ .RSSLink | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    {{ end }}
    
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    
    {{ partial "header_custom.html" . }}
    
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}">
  </head>

  {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .URL) }}
  <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
    <header class="masthead">
      {{ partial "tagline.html" . }}
      {{ partial "menu.html" . }}
    </header>

    <article class="main">
      <header class="title">
      {{ partial "post_meta.html" . }}
      </header>
