<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  {{ partial "header_meta.html" . }}
  {{ partial "header_json_ld.html" . }}

  {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}

  {{ partial "header_custom.html" . }}
  </head>

  {{ $.Page.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
  <body class="{{ if .IsHome }}home{{ else }}{{ $.Page.Scratch.Get "section" }}{{ end }}">
  <header class="masthead">
    {{ partial "header_logo.html" . }}
    {{ partial "header_menu.html" . }}
  </header>

  <article class="main">
    <header class="content-title">
    {{ partial "header_post_meta.html" . }}

    {{ if and (not .Params.disable_adsense) (and (not .IsHome) .Content) }}
    {{ with $.Site.Params.googleAdsense }}
    <ins
    class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="{{ . }}"
    data-ad-slot="1261604535"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {{ end }}
    {{ end }}
    </header>
