<script async src='{{ $.Site.Params.jQueryCDN }}/jquery/{{ $.Site.Params.jQueryVersion }}/jquery.min.js'></script>

{{ if not .IsHome }}
<link rel="stylesheet" type="text/css" href="{{ $.Site.Params.materialDesignIconsCDN }}/material-design-icons/{{ $.Site.Params.materialDesignIconsVersion }}/iconfont/material-icons.min.css">
{{ end }}

{{ partial "header_prismjs.html" . }}
{{ partial "google_analytics.html" . }}
{{ partial "google_adsense.html" . }}

<link rel="stylesheet" type="text/css" href="{{ "/css/custom.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "/css/icons.css" | relURL }}">
