<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    {{ partial "header_meta.html" . }}
    {{ partial "header_json_ld.html" . }}

    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
    {{ partial "header_custom.html" . }}
  </head>

  {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
  <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
    <header class="masthead">
      {{ partial "logo.html" . }}
      {{ partial "menu.html" . }}
      <script src="/js/toggle-theme.js"></script>
    </header>

    <article class="main">
      <header class="title">
      {{ partial "post_meta.html" . }}
      </header>
