<nav class="menu">
  <ul>
  {{ $currentPage := . }}
  {{ $menu := "main" }}
  {{ if .IsHome }}
    {{ $menu = "home" }}
  {{ else }}
    {{ $menu = $.Page.Scratch.Get "section" }}
  {{ end }}
  {{ range (default .Site.Menus.main (index .Site.Menus $menu)) }}
    <li{{ if eq .URL $currentPage.RelPermalink }} class="active"{{ else if eq .URL "#menu-separator" }} class="menu-separator"{{ end }}>{{ if ne .URL "#menu-separator" }}<a href="{{ .URL }}">{{ .Name }}</a>{{ else }}<span>&nbsp;</span>{{ end }}</li>
  {{ end }}
  {{ partial "menu_extra.html" . }}
  <li class="theme-toggle no-border-bottom"><span id="theme-toggle-icon" class="material-symbols material-dark-mode-outline"></span></li>
  </ul>
</nav>
