{{ if and (not .IsHome) .Content }}
{{ $lang := "cn" }}
{{ if (eq .Section "en") }}
{{ $lang = "en" }}
{{ end }}
<li class="menu-separator"><span>&nbsp;</span></li>
{{ with .Section }}
<li><a href="/{{ . }}/index.xml" target="_blank" type="application/rss+xml" title="RSS feed">{{ index $.Site.Params.lang.subscribe $lang }}</a></li>
{{ end }}
<li><a href="{{ .Site.Params.licenseURL }}" target="_blank" title="Attribution-NonCommercial-ShareAlike 4.0 International">{{ index $.Site.Params.lang.license $lang }}</a></li>
{{ end }}
