{{ if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ with .Params.subtitle }}<h2><span class="subtitle">{{ . }}</span></h2>{{ end }}

{{ if .IsPage }}
{{ if not .Params.disable_author_date }}
<h3>{{ with or (or .Params.author (index .Site.Params.author .Section)) "" }}{{  print . " / " }}{{ end }}
{{ if .Lastmod }}{{ if gt .Lastmod 0 }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}{{ else if .Date }}{{ if gt .Date 0 }}{{ .Date.Format "2006-01-02" }}{{ end }}{{ end }}</h3>
{{ end }}

{{ if or (.Params.categories) (.Params.tags) }}
<h3 class="post-meta">
{{ if .Params.categories }}
{{ if gt (len .Params.categories) 0 }}
<strong>{{ default "Categories" (index $.Site.Params.lang.categories .Section) }}: </strong>
{{ range $index, $categories := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
{{ end }}
{{ end }}
{{ if and (.Params.categories) (.Params.tags) }}
{{ if and (gt (len .Params.categories) 0) (gt (len .Params.tags) 0) }}
/
{{ end }}
{{ end }}
{{ if .Params.tags }}
{{ if gt (len .Params.tags) 0 }}
<strong>{{ default "Tags" (index $.Site.Params.lang.tags .Section) }}: </strong>
{{ range $index, $tags := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
{{ end }}
{{ end }}
{{ if or (.Params.categories) (.Params.tags) }}
{{ if or (gt (len .Params.categories) 0) (gt (len .Params.tags) 0) }}
/
{{ end }}
{{ end }}
<strong>{{ default "Word Count" (index $.Site.Params.lang.wordcount .Section) }}: </strong>
{{ .WordCount }}
</h3>
{{ end }}

{{ end }}
<hr>
{{ end }}
