{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
    {{- $src = .RelPermalink -}}
    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $alt := .PlainText }}
{{- $caption := .Title }}

<figure class="render-image"> 
  {{- range $k, $v := .Attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}
  <img
    class="lazyload"
    data-src="{{ $src }}"
    {{- with $alt }}
    alt="{{ . | markdownify | plainify }}"
    {{- end }}
    {{- with $caption }}
    title="{{ . | markdownify | plainify }}"
    {{- end }}
  />
  {{- with .Attributes.footnote }}
    <div class="figure-foot">
      {{ . | markdownify }}
    </div>
  {{- end }}
  {{- with $caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
  {{- end }}
</figure>
{{- /**/ -}}
