{{- if not ($.Page.Store.Get "admonition") }}
  {{- .Page.Store.Add "admonition" 1 }}
  <link rel="stylesheet" type="text/css" href="/css/admonition.css" />
{{- end }}

{{- $lang := "cn" }}
{{- if (eq $.Page.Section "en") }}
{{- $lang = "en" }}
{{- end }}
{{- $type := .Get "type" | default "quote" }}
{{- $noIcon := .Get "no-icon" | default false }}
{{- $foldable := .Get "foldable" | default false }}
{{- $close := .Get "close" | default true }}
{{- $hasTitle := and (ne .Params nil) (isset .Params "title") }}
{{- $title := .Get "title" | default (index (index $.Site.Params.lang.admonition $type) $lang ) }}

{{- if (eq $foldable true) }}
<details
  class="admonition {{ $type }} {{ if $noIcon }}admonition-no-icon{{ end }} font-kai"
  {{- if (ne $close true) }} open="open" {{- end }}>
  <summary class="admonition-title">{{ $title | markdownify }}</summary>
  <p class="admonition-content">{{ .Inner | markdownify }}</p>
</details>
{{- else }}
<div class="admonition {{ $type }} {{ if $noIcon }}admonition-no-icon{{ end }} font-kai">
  {{- if $hasTitle }}
  <p class="admonition-title">{{ $title | markdownify }}</p>
  {{- end }}
  <p class="admonition-content">{{ .Inner | markdownify }}</p>
</div>
{{- end }}
