{{- if not ($.Page.Store.Get "gallery") }}
  {{- $.Page.Store.Set "gallery" 1 }}
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/justifiedGallery@{{ $.Site.Params.justifiedgalleryVersion }}/dist/css/justifiedGallery.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/lightgallery@{{ $.Site.Params.lightgalleryVersion }}/css/lightgallery-bundle.min.css"/>
{{- end }}

{{- if not ($.Page.Store.Get "galleryId") }}
  {{- $.Page.Store.Set "galleryId" 1 }}
{{- else }}
  {{- $.Page.Store.Set "galleryId" (add ($.Page.Store.Get "galleryId") 1) }}
{{- end }}

{{- $galleryId := printf "gallery-%d" ($.Page.Store.Get "galleryId") }}
{{- $data := .Get "data" }}

<div class="gallery" shortcode="gallery" id="{{ $galleryId }}" data="{{ $data }}"></div>
