{{ if not ($.Page.Scratch.Get "nanogallery2-gallery") }}
  {{ $.Page.Scratch.Set "nanogallery2-gallery" 1 }}
{{ end }}

{{ if not ($.Page.Scratch.Get "nanogallery2-gallery-index") }}
  {{ $.Page.Scratch.Set "nanogallery2-gallery-index" 1 }}
{{ else }}
  {{ $.Page.Scratch.Set "nanogallery2-gallery-index" (add ($.Page.Scratch.Get "nanogallery2-gallery-index") 1) }}
{{ end }}

{{ $nanogallery2_gallery_index := $.Page.Scratch.Get "nanogallery2-gallery-index" }}
{{ $data := .Get "data" }}

<div class="nanogallery2-gallery" shortcode="nanogallery2-gallery" id="nanogallery2-gallery-{{ $nanogallery2_gallery_index }}" data="{{ $data }}"></div>