<script src="//cdn.jsdelivr.net/npm/jquery@{{ $.Site.Params.jQueryVersion }}/dist/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/nanogallery2@{{ $.Site.Params.nanogallery2Version }}/dist/css/nanogallery2.min.css"/>
<script src="//cdn.jsdelivr.net/npm/nanogallery2@{{ $.Site.Params.nanogallery2Version }}/dist/jquery.nanogallery2.min.js"></script>

{{ if .Get "tags" }}
{{ $tags := split (.Get "tags") "," }}
{{ $tagNames := $tags }}
{{ if .Get "tag-names"}}
{{ $tagNames := split (.Get "tag-names") "," }}
{{ end }}
<div class="nanogallery2-tags">
  <ul>
    {{ range $idx, $num := (seq (len $tags)) }}
    <li tag="{{ index $tags $idx }}"><a>{{ index $tagNames $idx }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}

<div id="nanogallery2-tags-gallery"></div>

<script>
(function() {
  function createGallery(tag) {
    let dataURL = {{ .Get "data-base-url" }};

    if (tag !== undefined && tag !== null) {
      dataURL = dataURL + "-" + tag + ".json";
    } else {
      dataURL = dataURL + ".json";
    }

    $.getJSON(dataURL, function(data) {
      $("#nanogallery2-tags-gallery").nanogallery2("destroy");
      $("#nanogallery2-tags-gallery").nanogallery2(data);
    });
  }

  function activateTag(tag) {
    $(".nanogallery2-tags ul li").removeClass("active");
    $(".nanogallery2-tags ul li[tag=" + tag +"]").addClass("active");
  }

  let tag = $(".nanogallery2-tags ul li").first().attr("tag");
  activateTag(tag);
  createGallery(tag);

  $(".nanogallery2-tags ul li a").click(function() {
    let tag = $(this).html();
    let activeTag = $('.nanogallery2-tags ul li[class~="active"]').first().attr("tag");

    if (tag != activeTag) {
      activateTag(tag);
      createGallery(tag);
    }
  });
})();
</script>