{{- if not ($.Page.Store.Get "song") }}
  {{- $.Page.Store.Set "song" 1 }}
  <link rel="stylesheet" type="text/css" href="//cdn.jsdmirror.com/npm/aplayer@{{ $.Site.Params.APlayerVersion }}/dist/APlayer.min.css">
  <script src="//cdn.jsdmirror.com/npm/aplayer@{{ $.Site.Params.APlayerVersion }}/dist/APlayer.min.js"></script>
  <script src="//cdn.jsdmirror.com/npm/meting@{{ $.Site.Params.metingjsVersion }}/dist/Meting.min.js"></script>
  <script>
    window.meting_api = "{{ $.Site.Params.metingApi }}";
  </script>
{{- end }}

<meting-js
  id="{{ .Get "id" }}"
  {{- with .Get "server" }} server="{{ . }}" {{- end }}
  {{- with .Get "type" }} type="{{ . }}" {{- end }}
  {{- with .Get "auto" }} auto="{{ . }}" {{- end }}
  {{- with .Get "name" }} name="{{ . }}" {{- end }}
  {{- with .Get "artist" }} artist="{{ . }}" {{- end }}
  {{- with .Get "url" }} url="{{ . }}" {{- end }}
  {{- with .Get "cover" }} cover="{{ . }}" {{- end }}
  {{- with .Get "lrc" }} lrc="{{ . }}" {{- end }}
  {{- with .Get "fixed" }} fixed="{{ . }}" {{- end }}
  {{- with .Get "mini" }} mini="{{ . }}" {{- end }}
  {{- with .Get "autoplay" }} autoplay="{{ . }}" {{- end }}
  {{- with .Get "theme" }} theme="{{ . }}" {{- end }}
  {{- with .Get "loop" }} loop="{{ . }}" {{- end }}
  {{- with .Get "order" }} order="{{ . }}" {{- end }}
  {{- with .Get "preload" }} preload="{{ . }}" {{- end }}
  {{- with .Get "volume" }} volume="{{ . }}" {{- end }}
  {{- with .Get "mutex" }} mutex="{{ . }}" {{- end }}
  {{- with .Get "lrc-type" }} lrc-type="{{ . }}" {{- end }}
  {{- with .Get "list-folded" }} list-folded="{{ . }}" {{- end }}
  {{- with .Get "list-max-height" }} list-max-height="{{ . }}" {{- end }}
  {{- with .Get "storage-name" }} storage-name="{{ . }}" {{- end }}>
  {{- with .Get "lrc-text" }}<pre hidden>{{ . }}</pre>{{- end }}
</meting-js>
