{{- if not ($.Page.Store.Get "video") }}
  {{- $.Page.Store.Set "video" 1 }}
{{- end }}

<video
  class="video-js vjs-big-play-centered vjs-fluid"
  data-setup='{
    "controls": {{ .Get "controls" | default true }},
    {{- with .Get "poster" }}"poster": "{{ . }}", {{- end }}
    "autoplay": {{ .Get "autoplay" | default false }},
    "preload": "auto",
    "loop": {{ .Get "loop" | default false }}
  }'>
  <source src="{{ .Get "mp4" }}" type="video/mp4"></source>
  {{- with .Get "webm" }} <source src="{{ . }}" type="video/webm"></source> {{- end }}
  {{- with .Get "ogv" }} <source src="{{ . }}" type="video/ogv"></source> {{- end }}
  <p class="vjs-no-js">请启用 JavaScript 并升级到<a href="http://videojs.com/html5-video-support/" target="_blank">支持 HTML5 视频</a>的浏览器以观看此视频</p>
</video>
