<video class="video-js vjs-big-play-centered"
       data-setup='{
         "controls": {{ .Get "controls" | default true }},
         {{ with .Get "poster" }} "poster": "{{ . }}", {{ end }}
         {{ with .Get "width" }} "width": "{{ . }}", {{ end }}
         {{ with .Get "height" }} "height": "{{ . }}", {{ end }}
         "autoplay": {{ .Get "autoplay" | default false }},
         "preload": "auto",
         "loop": {{ .Get "loop" | default true }}
       }'>
  
  <source src="{{ .Get "mp4" }}" type="video/mp4"></source>
  {{ with .Get "webm" }} <source src="{{ . }}" type="video/webm"></source> {{ end }}
  {{ with .Get "ogv" }} <source src="{{ . }}" type="video/ogv"></source> {{ end }}
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  
</video>
